.container-rent {
  display: flex;
  padding: 50px 150px;
}

.filter {
  position: sticky;
  top: 120px;
  width: 300px;
  height: max-content;
  padding-right: 50px;

  .search {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.house {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding-left: 50px;
  border-left: 2px solid #e5e5e5;
  gap: 40px;
}
