.text {
  padding: 30px;
}
.category span {
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}

.box .button {
  border-top: 1px solid #e4e8f3;
  padding: 15px 30px;

  .btn2 {
    background-color: #5d3fd3;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 500;
  }
}

.box .img {
  width: 350px;
  height: 200px;
  overflow: hidden;
}
