.recent padding .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recent-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
